<div class="container">
    <article class="category-card">
        {{#each category}}
            <h2 class="name">{{name}}</h2>
            {{else}}
                <p class="empty">No content</p>
        {{/each}}
    </article>
<a href="/">Go Back</a>
</div>