<header>
    <div class="header">
        <h1>{{title}}</h1>
    </div>
</header>

<nav class="navigation-bar">
    <ul class="navigation-bar"> 
        <li class="navigation-bar__item"><a href="/allposts/">All Posts</a></li>
        <li class="navigation-bar__item"><a href="/newpost/">Create New Post</a></li>
        <li class="navigation-bar__item"><a href="/allauthors/">Authors</a></li>
        <li class="navigation-bar__item"><a href="/allgenres/">Genres</a></li>
        <li class="navigation-bar__item"><a href="/alltags/">Tags</a></li>
    </ul>
</nav>