<h2>Most Recent Posts</h2>

<section name="post">
    {{#each post}}
    <h3 name="title">{{title}}</h3>
    <h4 name="publishingInfo">{{author}}, {{publishDate}}</h4>
    <p name="body">{{body}}</p>
    <h5></h5>

</section>