<header>
    <div class="header">
        <h1>{{title}}</h1>
        <p>Welcome to {{title}}</p>
    </div>
</header>

<h2>Welcome to tumbler</h2>

<nav class="navigation-bar">
    <ul class="navigation-bar"> 
        <li class="navigation-bar__item">All Posts</li>
        <li class="navigation-bar__item">Tags</li>
    </ul>
</nav>