<div class="container">
    <article class="tag-card">
        {{#each tag}}
            <h2 name="name">{{name}}</h2>
            {{else}}
                <p class="empty">No content</p>
        {{/each}}
    </article>
</div>